{% extends 'base.html' %}

{% block content %}

{% include "navbar.html" %}
<div class="container mt-4">
    <h1>All Available Books</h1>
    <hr>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Book ID</th>
            <th scope="col">Book Title</th>
            <th scope="col">Rent Date</th>
            <th scope="col">Return Book</th>
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
          <form method = "POST" action="{% url 'return-book' book.book.id %}">
            {% csrf_token %}
              <tr>
                <th>{{book.book.id}}</th>
                <td>{{book.book.book_title}}</td>
                <td>{{book.rent_date}}</td>
                <td><button type="submit">Return</button></td>
              </tr>
          </form>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock content %}